:root{
  --bg-panel-color: rgb(235,235,235);
  --bg-color: rgb(249, 249, 249);
  --button-bg-color: rgb(125, 125, 125);
  --button-df-size: large;
  --button-df-font-color: rgb(220, 220, 220);
}

html{
    display         : flex;
    justify-content : space-around;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16px;
    background-color: rgb(249, 249, 249)
}

body{
    max-width: 960px;

}

b{
  font-weight: bold;
}

#sticky-on-top{
    position: sticky;
    top     : 0;
}

header{
    display         : flex;
    top             : 0;
    justify-content : space-between;
    padding         : 5px 10px 0px 10px;
    z-index         : 10;
    background-color: rgb(249, 249, 249);
    border-bottom   : 1px solid rgb(239, 239, 239);
}

#btn-new-signal{
    width          : 48px;
    text-decoration: none;
    color          : gray;
}

.bi-plus-square{
    width : 100%;
    height: 100%;
}

#btn-new-signal:hover{
    color: black;
}

#btn-new-signal:hover{
    border         : 4px solid black;
    text-shadow    : 0px 1px 1px white;
    background-size: 80%;
} */

h1{
    font-size: 300%;
}

#selection-panel{
    display         : flex;
    padding         : 5px 10px 0px 10px;
    background-color: rgb(249, 249, 249);
}

#pair-selection{
    display        : flex;
    position       : sticky;
    justify-content: space-between;
    flex-wrap      : wrap;
}

#pair-selection span{
    width     : 220px;
    padding   : 5px 10px 0px 10px;
    text-align: center;
    border    : 1px solid gray;
    margin    : 0px 10px 5px 10px;
}

#pair-selection span:hover{
    cursor          : pointer;
    border          : 1px solid black;
    background-color: rgb(173, 184, 184)
}

#pair-selected{
    padding         : 5px 10px 0px 10px;
    background-color: rgb(249, 249, 249);
    border-bottom   : 1px solid rgb(239, 239, 239);
    font-size: x-large;
}


main{
    padding: 5px;
}

#tabs{
  display        : flex;
  flex-direction : row;
  align-items: center;
}

.tab{
  margin-right: 2px;
}


.tab-button{
  background-color: rgb(26,26,26);
  color: var(--bg-color);
  border          : 2px solid var(--bg-color);
  cursor          : pointer;
  font-size: large;
}

.tab-button:hover{
  background-color: var(--bg-panel-color);
  color: black;
}

.tab-button-active{
  background-color: var(--bg-panel-color);
  border          : 2px solid  var(--bg-panel-color);
  cursor          : default;
  font-size: x-large;
}

#addNewTargetsForm{
    display       : flex;
    flex-direction: column;
    box-shadow    : 0px 0px 10px gray;
    border        : 1px solid gray;
}

#panel{
  background-color: var(--bg-panel-color);
}

.field-box-main{
    display        : flex;
    justify-content: space-between;
}

.field-box-not-editable{
    width         : 450px;
    display       : flex;
    flex-direction: column;
    padding       : 5px 10px;
}

.field-box-editable{
    width         : 450px;
    display       : flex;
    flex-direction: column;
    padding       : 5px 10px;
}

.group-field{
    margin: 10px 10px;
}

.feedback{
    padding-top: 0.6vh;
    color      : red;
    font-size  : 10px;
}

.feedback-suppression{
    display: none;
}

input[type="text"],input[type="search"], select{
    background-color   : rgba(255, 255, 255, 0.877);
    border             : 0 solid black;
    border-bottom-width: 2px;
}

input[type="number"]{
    width              : 100px;
    background-color   : rgba(255, 255, 255, 0.877);
    border             : 0 solid black;
    border-bottom-width: 2px;
}

fieldset{
    display       : flex;
    flex-direction: column;
}

.target-input-box{
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
}

.label-input-box{
    display       : flex;
    flex-direction: column;
}

.input-field{
    border-bottom   : 1px solid black;
    background-color: rgb(233, 233, 233);
    
}

.remover-alvo{
    background-color: rgb(250, 181, 181);
    border          : 1px solid rgb(255, 112, 112);
    border-left     : 2px solid rgb(255, 112, 112);
    border-bottom   : 2px solid rgb(255, 112, 112);
    color           : white;
    text-shadow     : 0px 1px 1px black;
    cursor          : pointer;
}

.remover-alvo:hover{
    background-color: rgb(255, 123, 123);
    border          : 1px solid red;
    border-left     : 2px solid red;
    border-bottom   : 2px solid red;
    font-weight     : bold;
}


#confirm-btn-box{
    padding-top: 5px;
}

.confirm-btn{
  width: 100%;
}

.confirm-btn, #adicionar-alvo,.btn-slide-pair-list{
  box-shadow: 2px 2px #000000;
  border: 1px solid black;
  cursor: pointer; 
  background-color: var(--button-bg-color);
  font-size: var(--button-df-size); 
  color: var(--button-df-font-color);
}

.confirm-btn:hover, #adicionar-alvo:hover,.btn-slide-pair-list:hover{
  box-shadow: 3px 3px #000000;
  color: white;
}

.confirm-btn:focus{
  box-shadow: 0px 0px #000000;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

footer{
    position        : sticky;
    bottom          : 0;
    padding         : 5px 10px;
    background-color: rgb(249, 249, 249);
}